$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

@import "./mixins";

// colors #e1e5eb;
$font-color: #58677d;
$blue-primary-color: #00538b;
$light-blue-color: #004e81;
$border-shadow-color: #e4e2e2;
$result-container-color: rgba(131,196,220,.2);
$select-background: #ced4da;
$hover-border: #005891;
$input-button-background: #f7f8fb;
//font-sizes
$phone-font-size: 16px;
$phone-alert-f-size: 14px;
$phone-result-f-size: 32px;
$tablet-font-size: 20px;
$tablet-alert-f-size: 18px;
$tablet-result-f-size: 40px;
