.mainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.calcDiv {
  width: 100%;
}

.onlyCalcContainer {
  padding: 25px;
}

.calcDivMobile {
  width: 100%;
  height: 48vh;
  background: url("/images/calc.png") no-repeat 100%, #dde6e9;
  background-size: cover;
}

.containerCalcText {
  background: #dde6e9;
  display: flex;
  flex-direction: column;
}

.containerText {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.arrowDown, .arrowTop {
  display: none;
}

.calculatorTitle {
  color: #00538b;
  font-size: 6vh;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  margin-bottom: 0;
  width: 100px;
}

.calculatorTitleBold {
  font-family: Raleway, sans-serif;
  font-weight: 900;
}

.calcDescription {
  padding-top: 30px;
  color: #58677d;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  width: 90%;
}

.calcBreak {
  width: 70px;
  height: 4px;
  background: #c8b77e;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .containerCalcText {
    padding: 50px;
  }
}
@media (min-width: 1025px) {
  .calcDivMobile {
    display: none;
  }

  .calcDiv {
    position: absolute;
    z-index: -1;
    min-height: 120vh;
    background: url("/images/bg.png") no-repeat 50% fixed;
    background-size: cover;
  }

  .containerCalcText {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 25px;
  }

  .mainContainer {
    display: block;
    flex-direction: unset;
  }

  .onlyCalcContainer {
    position: relative;
    width: 700px;
    padding: 25px;
  }

  .calculatorTitle {
    font-size: 62px;
    width: 500px;
    padding: 0;
  }

  .calculatorDescription {
    width: 70%;
  }

  .arrowTop {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .arrowDown {
    display: block;
    position: absolute;
    bottom: -150px;
    left: 0;
    z-index: -1;
    transform: rotate(180deg);
    width: 75px;
    height: 75px;
  }
}
@media (min-width: 1025px) and (min-width: 1281px) {
  .calcDiv {
    min-height: 100vh;
  }

  .onlyCalcContainer {
    width: 700px;
    transform: none;
    padding: 50px;
  }

  .containerCalcText {
    margin-left: 0;
    padding: 75px;
  }

  .calculatorTitle {
    font-size: 82px;
  }

  .arrowDown {
    bottom: -250px;
  }
}
