@import "../variables";

.calcButton {
  border: 1px solid;
  border-color: $border-shadow-color;
  background: $input-button-background;
  border-radius: 5px;
  color: $blue-primary-color;
  font-size: $phone-font-size;
  padding: 10px;
  @include hover {
    cursor: pointer;
    border-color: $hover-border;
  }
}

@media(min-width: $tablet) {
  .calcButton {
    padding: 15px;
    font-size: $tablet-font-size;
  }
}
