@import "../config";

.calculator_container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 30px;
  box-shadow: -1px 1px 10px #e4e2e2;
  font-family: Lato,sans-serif;
  background: white;
}

label, select{
  margin-bottom: 15px;
}

label, p.property {
  color: #58677d;
  text-align: left;
  font-size: 16px;
}

p.property_price {
  color: #00538b;
  font-weight: 700;
  font-size: 16px;
}

.button_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 30px;
  grid-template-areas:
    ". .";
}

.price_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert_text {
  font-size: 14px;
  color: #58677d;
  width: 75%;
  text-align: center;
}

.alert_text_container {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

*:focus {
  appearance: none;
  outline-width: 0;
  outline: none !important;
  box-shadow: 1px 1px 1px 1px #e4e2e2;
}

@media(min-width: $tablet) {
  label, p.property, p.property_price {
    font-size: 20px;
  }
  .alert_text {
    font-size: 18px;
  }
}
