@import "../variables";

select.selectRegion {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: $blue-primary-color;
  border: 1px solid $border-shadow-color;
  border-radius: 5px;
  padding: 15px;
  font-size: $phone-font-size;
  background: $input-button-background url("data:image/svg+xml;utf8,<svg fill='%2300538b' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
  @include hover {
    cursor: pointer;
  }
}


@media(min-width: $tablet) {
  select.selectRegion {
    font-size: $tablet-font-size;
    padding: 20px;
  }
}
