@import "../variables";

input.inputPrice {
  -webkit-appearance: none;
  flex: 1;
  padding: 10px 0 10px 12px;
  border: none;
  font-size: $phone-font-size;
  border-radius: 0 5px 5px 0;
  color: $blue-primary-color;
}

.inputGroup {
  display: flex;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid $border-shadow-color;
}

span.symbolSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $border-shadow-color;
  color: $blue-primary-color;
  width: 42px;
  font-size: $phone-font-size
}


@media(min-width: $tablet) {
  input.inputPrice, span.symbolSpan {
      font-size: $tablet-font-size;
  }
}

@media (min-width: $wide-desktop) {
    input.inputPrice {
        padding: 15px 0 15px 12px;
    }
}
