@import "../config";

input.input_price {
  -webkit-appearance: none;
  flex: 1;
  padding: 15px 0 15px 12px;
  border: none;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
  color: #00538b;
}

.input_group {
  display: flex;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #e4e2e2;
  background: #e1e5eb;
}

span.symbol_span {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e1e5eb;
  color: #00538b;
  width: 42px;
  font-size: 15px;
}


@media(min-width: $tablet) {
  input.input_price, span.symbol_span {
    font-size: 19px;
  }
}
