@import "../variables";

.rangeContainer {
  margin-bottom: 15px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: $select-background;
  height: 6px;
  border-radius: 5px;
  color: $select-background;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background: $blue-primary-color;
  cursor: pointer;
  border: 3px solid white;
}

input[type=range]::-moz-range-thumb {
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background: $blue-primary-color;
  cursor: pointer;
  border: 3px solid white;
}

input[type=range]::-ms-thumb {
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background: $blue-primary-color;
  cursor: pointer;
  border: 3px solid white;
}
