@import "../variables";

.resultContainer {
  background-color: $result-container-color;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.dutyLabel {
  font-size: $phone-alert-f-size;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $light-blue-color;
  background-color: $result-container-color;
  font-weight: 300;
}

.showresult {
  padding: 25px 5px 25px 5px;
  border-radius: 5px;
  overflow: hidden;
  font-size: $phone-font-size;
  color: $light-blue-color;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

@media(min-width: $tablet) {
  .dutyLabel {
    font-size: $tablet-alert-f-size;
  }
  .showresult {
    font-size: $tablet-result-f-size;
    padding: 30px 5px 30px 5px;
  }
}
